html,
body {
  /* justify-content: center;
  align-items: center; */
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif, Calibri, Arial;
}

.botaoVoltar {
  background-color: #a09bac;
  border: none;
  border-radius: 2px;
}

.botaoVoltar:hover {
  background-color: #f1f1f1;
}
.zona1 {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.zona2 {
  margin-top: 30px;
  background-color: #f0f0f0;

  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .zona1 {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.imagem {
  margin-top: 5px;
  width: 30%;
}

.title-section {
  text-align: left;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #5b5669;
}

.title-intro {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000000;
}

.subtitle {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #5b5669;
}

.paragraph {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  color: #464646;
  width: 95%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #737584;
  padding: 0.5rem 1rem;
  color: #fff;
  height: 50px;
}

.imagemCarro {
  width: 50%;
}

ul {
  width: 96vw;
  height: 400px;
  padding: 20px;
  display: flex;
  gap: 4vw;
}

li {
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;

  flex: 0 0 100%;
}

li:nth-child(even) {
  background-color: #eeeeee;
}

ul {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
li {
  scroll-snap-align: center;
}

ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

ul::scroll-button(*):hover,
ul::scroll-button(*):focus {
  opacity: 1;
}

ul::scroll-button(*):active {
  translate: 1px 1px;
}

ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

ul::scroll-button(left) {
  content: "◄";
}

ul::scroll-button(right) {
  content: "►";
}

ul {
  anchor-name: --my-carousel;
}

ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}

ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) + 13px);
}

ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) + 13px);
}

ul {
  scroll-marker-group: after;
}

ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}

li::scroll-marker {
  content: "";
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}

li::scroll-marker:target-current {
  background-color: black;
}

.title-section2 {
  text-align: center;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #5b5669;
}

.title-intro2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000000;
}

@media (max-width: 768px) {
  ul {
    width: 80%;
  }
  .imagemCarro {
    width: 100%;
  }
}
